<body>
    <h1 class="demo-logo">Child Login
          
        </h1>
</body>
<p><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    
</head>
<body>

    <div class="main-container">
        <div class="form-container">

            

            <div class="form-body">
                

                <form style=text-align:center; action=" class="the-form">


                    <label for="FirstName">First Name</label>
                    <input  type="FirstName" name="FirstName" id="FirstName" placeholder="Enter your First Name"><br><br>

                    <label for="LastName">Last Name</label>
                    <input type="LastName" name="LastName" id="LastName" placeholder="Enter your Last Name"><br><br>

                    <label for="ParentFirstName">Parent First Name</label>
                    <input type="ParentFirstName" name="ParentFirstName" id="ParentFirstName" placeholder="Enter your Parent's First Name"><br><br>

                    <label for="ParentLastName">Parent First Name</label>
                    <input type="ParentLastName" name="ParentLastName" id="ParentLastName" placeholder="Enter your Parent's Last Name"><br><br>

                    <label for="ParentPhoneNumber"> Parent's Phone Number</label>
                    <input  type="ParentPhoneNumber" name="ParentPhoneNumber" id="ParentPhoneNumber" placeholder="Enter your Parent's Phone Number"><br><br>

                    <label for="Parentemail">Parent Email</label>
                    <input type="Parentemail" name="Parentemail" id="Parentemail" placeholder="Enter your Parent's email"><br><br>

                    <label for="password">Create Password</label>
                    <input type="password" name="password" id="password" placeholder="Create your password"><br><br>

                
                    <input type="submit" value="Create">

                </form>

            </div><!-- FORM BODY-->

            

        </div><!-- FORM CONTAINER -->
    </div>

</body>
</html></p>