@{
    ViewData["Title"] = "Admin Interface";
}

<div class="text-center">
    <h1 class="display-4">CMDF</h1>
    <p><a href="">View Profiles</a> <br> <br> <a href="">View Analytics</a> <br> <br> 
    <a href="https://localhost:7219/child">Activate Location</a></p>
</div>
