<div class="text-center">
    <h1 class="display-4">Admin</h1>
    <p>
        <!DOCTYPE html>
        <html lang="en">

        <head>
            <meta charset="UTF-8">
            < <title>colby testing</title>


        </head>

        <body>

            <div class="main-container">
                <div class="form-container">


 
                    <div class="form-body">


                      <form action="" class="the-form">

                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" placeholder="Enter your email">

                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" placeholder="Enter your password">

                            <input type="submit" value="Log In">

                        </form>

                    </div><!-- FORM BODY-->



                </div><!-- FORM CONTAINER -->
            </div>

        </body>

        </html>
    </p>