<div class="text-center">
    <h1 class="display-4">Create Parent Profile</h1>
    <p><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Login Page Template - W3jar.Com</title>
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/style-with-prefix.css">
    <style>
        .srouce{
            text-align: center;
            color: #ffffff;
            padding: 10px;
        }
    </style>
</head>
<body>

    <div class="main-container">
        <div class="form-container">

            

            <div class="form-body">
                

                <form action="" class="the-form">

                    <label for="FirstName">First Name</label>
                    <input type="FirstName" name="FirstName" id="FirstName" placeholder="Enter your First Name"><br><br>

                    <label for="LastName">Last Name</label>
                    <input type="LastName" name="LastName" id="LastName" placeholder="Enter your Last Name"><br><br>

                    <label for="PhoneNumber">Phone Number</label>
                    <input type="PhoneNumber" name="PhoneNumber" id="PhoneNumber" placeholder="Enter your Phone Number"><br><br>

                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Enter your email"><br><br>

                    <label for="password">Create Password</label>
                    <input type="password" name="password" id="password" placeholder="Create your password"><br><br>

                    <label for="password">Child's Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter Your Child's Password"><br><br>

                    <input type="submit" value="Create">

                </form>

            </div><!-- FORM BODY-->

            

        </div><!-- FORM CONTAINER -->
    </div>

</body>
</html></p>