@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CMDF</h1>
    <p><a href="https://localhost:7219/AdminPage">Admin</a> <a href="https://localhost:7219/ParentPage">Parent</a></p>
</div>
